* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

.game {
  text-align: center;
  justify-content: center;
}

button {
  background-color: none;
  color: black;
  width: 120px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid black;

}

button:hover {
  background-color: #008cba;
  color: white;
}

input {
  /* width: 250px; */
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid black;
  padding: 5px;
}

.inputText {
  padding-right: 20px;
  text-transform: lowercase;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 0px;
  gap: 10px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 48px;
  font-family: "Signika", sans-serif;
  padding-bottom: 10px;
}

/* form {
  margin-top: 20px;
  margin-right: 60px;
} */

.imgMainContainer {
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
}

.imgSubContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.imgs1 {
  display: inline-block;
  width: 300px;
  height: 300px;
  padding: 5px;
}

.imgs2 {
  display: inline-block;
  width: 300px;
  height: 300px;
  padding: 5px;
}

/* .btn:link,
.btn:visited {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
} */

p {
  font-size: 50px;
  font-weight: 200px;
}

.blank {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}


.body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  /* height: 100vh; */
  height: 100%;
  width: 100%;
  position: fixed;
  padding: 0px;
  margin: 0;
  top: 0;
  right: 0;
  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
